.footer-container {
  background-color: white;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-around;
  padding-top: 10px;
  position: fixed;
  width: 100%;
}
