@keyframes loading {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  animation: loading 1.5s linear infinite;
  font-size: 150px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.loading-container {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}
